.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 10;
  background-color:aliceblue ;
}

/*Nav styles*/
.nav-title{
  color: #4E47FF;
  font-weight: 700;
  font-size: 45px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
/* Shared Style */
.btn-primary{
  background-color: #4E47FF;
  border: none;
  font-size: 20px;
  color: white;
  padding: 18px 35px;
  border-radius: 15px;

}
.btn-primary:hover{
  background-color:#57567d;
  cursor: pointer;
  padding: 22px 40px;
}


/* header*/
.header{
  background-image: url('/images/Hero-bg.png');
  background-size: cover;
  height: 650px;
  width: 100%;
}
/*banner style*/
.banner-heading{
  font-weight: bold;
  font-size: 65px;
  margin-top: 100px;
}
.banner{
  text-align: center;
  
}
/* main part design */
main{
  max-width: 1140px;
  margin: 100px auto;

}
.first-hero{
  display: flex;
  gap: auto;
  
  justify-content: space-between;
  gap: 150px;
  align-items: center;
  width: 1140px;
  }
  .first-hero img{
  border-radius: 25px;
  }
  .first-section-heading{
    font-size: 42px;
    color: #252432;
  }
  
  .first-para{
    font-size: 24px;
    color: #252432;
  }
  .second-hero{
    background-color:rgb(161, 161, 173);
    text-align: center;
    border-radius: 20px;
    padding: 25px 80px;
    margin-top: 100px;
    
      }
      .second-section-heading{
        font-size: 35px;
        font-weight:bold;
        color: #252432;
      }
      .count{
        display: flex;
        justify-content: space-evenly;
      }
      span{
        color:#4E47FF; 
        font-weight: bold;
      font-size: 80px;
      }
      .color{
        color: #252432;
      }
      .review-section {
        text-align: center;
        padding: 50px 20px;
      }
      
      .review-section-title {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 40px;
        color:#252432;
      }
      
      .review-div {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
      }
      
      .review-card {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0,0,0,0.05);
        padding: 20px;
        width: 310px;
        text-align: left;
      }
      
      
      
      .review-card h3 {
        font-size: 30px;
        font-weight: 600;
        margin: 10px 0;
      }
      
      .review-card p {
        font-size: 20px;
         margin-bottom: 20px;
      }
      
      .reviewer {
        display: flex;
        align-items: center;
        gap: 20px;
      }
      
      .reviewer img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      
      .reviewer-info strong {
        display: block;
        font-size: 20px;
        color:#252432;
      }
      
      .reviewer-info span {
        font-size: 10px;
        color:#252432;
      }
      
      
    
      