.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 10;
    background-color:aliceblue ;
}
/*Nav styles*/
.nav-title{
  color: #4E47FF;
  font-weight: 700;
  font-size: 45px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
/* Shared Style */
.btn-primary{
  background-color: #4E47FF;
  border: none;
  font-size: 20px;
  color: white;
  padding: 18px 35px;
  border-radius: 10px;

}
.btn-primary:hover{
  background-color:#57567d;
  cursor: pointer;
  padding: 22px 40px;
}
